<%- include('layout'); %>
<body>

  <%- include('navbar', page='view'); %>

  <h1>Contacts</h1>
  <h2>The current time is: <%=currentDate%></h2>
  <div class="contacts-box">
    <% data.forEach(function(user) { %>
      <div class="contact">
        <div class="col">
          <b><%= user.lastName %>, <%= user.firstName %>:</b>
        </div>
        <div class="col">
          <%= user.email %> 
        </div>
        <div class="col">
          <%= user.phone %>
        </div>
        
        <div class="col">
          <a href="/delete/<%= user.firstName %>">Delete</a>
        </div>
      </div>
    <% }); %>
  </div>
  <a href="/add">Add new contact</a>
</body>
</html>